<%= form_with(model: user_desc, local: true) do |form| %>
  <% if user_desc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_desc.errors.count, "error") %> prohibited this user_desc from being saved:</h2>

      <ul>
      <% user_desc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :mailbox %>
    <%= form.text_field :mailbox %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.text_field :units %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
